version: '3.2'

networks:
  net:

services:
  loki:
    image: grafana/loki:{{loki_version}}
    command: -config.file=/etc/loki/loki.yml
    volumes:
      - {{loki_path}}/loki.yml:/etc/loki/loki.yml
    ports:
      - target: {{ loki_listen_port }}
        published: {{ loki_listen_port }}
        protocol: tcp
        mode: host
    networks:
      - net
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 6
        window: 120s
